<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springframeworkprojectboard.mapper.BoardMapper">

    <insert id="save">
        insert into spring_board.board (`memberId`, `memberName`, `title`, `content`, `hit`, `ip`, `rippleCnt`, `fileName`, `fileSize`, `createdAt`)
        values (#{memberId}, #{memberName}, #{title}, #{content}, 0, #{ip}, 0, #{fileName}, #{fileSize}, now())
    </insert>

<!--    <select id="findList" resultType="com.example.springframeworkprojectboard.domain.Board">-->
<!--        select * from spring_board.board order by `id` desc-->
<!--    </select>-->

    <!-- 검색 기능을 처리할 쿼리 -->
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator="OR">
                    <if test="type == 't'.toString()">
                        `title` like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        `memberName` like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
            <if test="from != null and to != null">
                <trim prefix="and">
                    `createdAt` between #{from} and #{to}
                </trim>
            </if>
        </where>
    </sql>

    <select id="findAllList" resultType="com.example.springframeworkprojectboard.domain.Board">
        select * from spring_board.board
        <include refid="search"></include>
        order by `id` desc limit #{skip}, #{size}
    </select>

    <select id="findListCount" resultType="int">
        select count(`id`) from spring_board.board
        <include refid="search"></include>
    </select>

    <select id="findBoardByBoardId" resultType="com.example.springframeworkprojectboard.domain.Board">
        select * from spring_board.board where `id` = #{id}
    </select>

    <update id="updateBoardHitByBoardId">
        update spring_board.board set `hit` = `hit` + 1 where `id` = #{id}
    </update>

    <update id="update">
        update spring_board.board set `title` = #{title}, `content` = #{content}, `ip` = #{ip}, `fileName` = #{fileName}, `fileSize` = #{fileSize}, `updatedAt` = now() where `id` = #{id}
    </update>

    <delete id="deleteBoardByBoardId">
        delete from spring_board.board where `id` = #{id}
    </delete>

</mapper>